  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <% if (session.loginStatus){ %>
      <p class="w3-left">Welcome <%= session.userName %> | <a href="/logout">Logout</a></p>
    <% }else{ %>
      <p class="w3-left"><a href="/login">Login</a> | <a href="/signup">Sign Up</a> </p>
    <% } %>
    <p class="w3-right">
      <i class="fa fa-shopping-cart w3-margin-right"></i>
      <i class="fa fa-search"></i>
    </p>
  </header>
